*{
    font-family: Poppins, sans-serif;
    margin: 0;
}

body{
    background: #2f1893;
}

.header{
    font-size: 60px;
    color: white;
    position: absolute;
    width: 100%;
    top: 15px;
    text-align: center;
}

.header2{
    font-size: 45px;
    color: white;
    position: absolute;
    width: 100%;
    top: 80px;
    text-align: center;
}

.license{
    text-align: center;
    color: white;
    margin-top: 350px;
    padding: 20px;
}

.info{
    color: #d4d4d4;
    position: absolute;
    top: 150px;
    left: 20px;
}

.general{
    margin: 5px;
}

.aboutLink{
    color: white;
}
